* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.conjuntoLateral {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: solid 1px #3f7666;
    border-right: 1px solid #ccc;
    background-color: #ffffff;
}

.icon {
  filter: invert(100%);
  cursor: pointer;
}

.imgMoreChat {
    display: flex;
    gap: 24px;
}

.iconPerson {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

header p {
    font-size: 2rem;
}

nav {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    background-color: #ffffff;
}

.contact {
    min-height: 74px;
    width: 95%;
    display: flex;
    align-items: center;
    padding-left: 24px;
    gap: 24px;
    background-color: #ffffff;
}

.contact:hover {
    background-color: #ebebeb;
}

.contact p {
    font-size: 1.5rem;
}

main {
    height: 100%;
    width: 70%;
    background-image: url(./img/nenhum_contato_aberto.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fffcf0;

}

.barraSuperiorContato {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #f8f7f3;
    visibility: visible;
}

.dadosContato {
    display: flex;
    align-items: center;
    gap: 24px;
}

.dadosContato img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.dadosContato p {
    font-size: 1.5rem;
}

.ferramentas {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
}

.ferramentas i {
    font-size: 1.5rem;
    cursor: pointer;
}

/* aplica borda apenas no segundo ícone */
.ferramentas i:nth-child(2) {
    border-right: 2px solid #ccc;
    padding-right: 24px; /* espaço entre o ícone e a borda */
}



.mensagens {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
    overflow-y: auto;
}

.mensagem {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}

.mensagem.me {
    align-self: flex-end;
    background-color: #dcf8c6;
    text-align: right;
}

.mensagem.other {
    align-self: flex-start;
    background-color: #fff;
    text-align: right;
}

.time {
    font-size: 0.8em;
    color: #777;
    display: block;
    margin-top: 4px;
}
